###############################################################################
# https://github.com/alexkaratarakis/gitattributes
# Set default behavior to automatically normalize line endings.
*       text=auto eol=lf

# Libraries
*.so    -text merge=binary
*.o     -text merge=binary
# Large files
.toolchain/oecore-x86_64-core2-64-toolchain-10.0.sh filter=lfs diff=lfs merge=lfs -text
.toolchain/oecore-x86_64-core2-64-toolchain-2023Q4.tar.xz filter=lfs diff=lfs merge=lfs -text
